<ion-header>
  <ion-toolbar>
    <ion-icon size="large" slot="start" name="list-outline"></ion-icon>
    <ion-title style="text-align: center;"> นาฬิกาส่วนตัว </ion-title>
    <ion-icon size="large" slot="end" (click)="goback()" name="close-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col *ngFor="let item of myclock; let i = index;">
      <ion-card color="{{ item.color }}" (click)="gotoPage(item.url)">
        <ion-icon size="large" style="margin: 10%;" name="{{ item.icon }}"></ion-icon>
        <ion-card-header> {{ item.name }} </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card color="light" (click)="createMyclock()">
        <ion-icon size="large" style="margin: 10%;" name="add"></ion-icon>
        <ion-card-header> สร้างนาฬิกาส่วนตัว </ion-card-header>
      </ion-card>
    </ion-col>

  </ion-row>

</ion-content>
